*::-webkit-scrollbar {
  display: inline;
  width: 7px;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  cursor: default;
  background: var(--kungalgame-blue-4);
  border-radius: 3px;
}

/* Top bar reset */
.VPNavBar .container {
  backdrop-filter: blur(5px);
}

/* Mobile */
.VPLocalNav,
.VPNavScreen,
.VPSidebar {
  backdrop-filter: blur(5px);
}
